.commercial 
  img.banner-img(src="images/banner.png", alt="banner")
  h5.center Индивидуальное обучение
  h6 - Занятия в удобное для Вас время
  h6 - Срок обучения от 1,5 месяцев
  h6 - Теорию и практику преподает один и тот же преподаватель
  .soc-page
    h6.float-left.soc-more Узнать подробнее
    a(href="https://vk.com/maxautoschool", target="_blank") 
      img.soc-logo(src="images/vk.jpg", alt="vk")
    a(href="https://www.instagram.com/dolmatov_tmn/", target="_blank") 
      img.soc-logo(src="images/inst.jpg", alt="instagram") 
  p.reklam-text.center Реклама