.row.bg-white
  .col-md-3
    .top-form
      .top-body
        .top-form-head
          p.top-form-request ТОП 5 Автошкол
        .row
          .col-12
            table.table
              thead
                tr
                  th(scope='col') Название
              tbody
                - schools.sort((a,b)=>{return (b.theory-a.theory)+(b.avtodrom-a.avtodrom)+(b.city-a.city)})
                each school, i in schools.slice(0,5)        
                  tr
                    td
                      a(href='school/' + school._id) 
                        = school.name     
        p
          a(href='/school') Весь список...
  .col-md-6(style='margin-top:2%')
    .row
      .col-md-12
        h1 Автошколы Тюмени
        p Каждый житель Тюмени рано или поздно сталкивается с проблемой выбора автошколы. Хорошо, если кто-то из близких знакомых уже получил права и может порекомендовать автошколу, а если таких знакомых нет? Наш сайт именно для Вас!
        p На нашем сайте собрана вся интересующая Вас информация обо всех автошколах Тюмени, прошедших Лицензирование! Вы можете узнать категории водительских прав, на которые обучает автошкола, автопарк, адрес, телефон, web-сайт, прочитать отзывы (комментарии) об автошколе и можете посмотреть фотогалерею!
        p Так же Вы можете пройти 
          a(href="/pdd/exam/") экзамен ПДД в режиме online.
      .col-md-12
  .col-md-3