.row.mail-section
  .col.mail-margin.center
    svg(x='0px', y='0px', width='18.998px', height='16.003px', fill="#e2223f", viewbox='5.502 -2.505 18.998 16.003', enable-background='new 5.502 -2.505 18.998 16.003', xml:space='preserve')
      path(d='M23.697,11.896H21.81l2.157-2.156c0.354-0.355,0.547-0.84,0.532-1.341c-0.014-0.51-0.223-0.995-0.585-1.355l-8.985-8.985\
      c-0.738-0.743-1.938-0.753-2.688-0.022L6.034,4.244c-0.362,0.362-0.555,0.859-0.532,1.37c0.013,0.51,0.222,0.996,0.584,1.356\
      l4.927,4.927h-4.71c-0.442-0.001-0.801,0.358-0.802,0.801c0,0.442,0.358,0.801,0.801,0.801c0.001,0,0.001,0,0.001,0h17.394\
      c0.441,0,0.802-0.357,0.802-0.801C24.499,12.255,24.142,11.896,23.697,11.896C23.698,11.896,23.698,11.896,23.697,11.896z\
      M22.034,9.381l-2.516,2.516h-6.214L7.232,5.824C7.111,5.723,7.088,5.547,7.179,5.419l5.451-5.451l0.599,7.061\
      c0.04,0.457,0.241,0.883,0.569,1.206c0.316,0.317,0.735,0.515,1.183,0.554L22.034,9.381z M14.307-0.249l7.974,7.944l-7.36-0.606\
      L14.307-0.249z')
    i.fa.fa-envelope.prefix.navbar-fa-envelope
    a.mailto(href='mailto:tmn-as72@yandex.ru') tmn-as72@yandex.ru