nav.navbar.navbar-expand-lg.navbar-dark.dark-blue
  a.navbar-brand(href='/') AS72
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
    span(class="navbar-toggler-icon")
  .collapse.navbar-collapse#navbarNav
    ul.navbar-nav
      li.nav-item.active
        a.nav-link(href='/') Главная
          span.sr-only (current)
      li.nav-item
          a.nav-link(href='/school') Автошколы  
      li.nav-item
        a.nav-link(href='/pdd/exam/') ПДД онлайн    