doctype html
html(lang='ru')
  head
    title= title
    meta(charset="utf-8")
    meta(name="google-site-verification" content="TkLoL9xoHC4kR1Y3JuS8jfB54YDi8OkISstQ7ItZl9s")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name='description', content='Все Автошколы Тюмени на одном сайте. Адреса, телефоны, фотографии, а также процент сдачи экзамена и реальные отзывы курсантов. Выбери свою автошколу.')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
