extends ../layout
 
block content
  .container-fluid
    include ../components/mailbar
    include navbar
    .row
      .col-12.school-head.center
        h3 Все Автошколы Тюмени в одном месте
      .col-md-9
        table.table
          thead
            tr
              th(scope='col') Название
              th(scope='col') Теория
              th(scope='col') Автодром
              th(scope='col') Город
          tbody
          - schools.sort((a,b)=>{return b.city-a.city})
          each school, i in schools        
            tr
              td
                a(href='school/' + school._id) 
                  = school.name
              td
                = school.theory + '%' 
              td
                = school.avtodrom + '%'
              td
                = school.city + '%'        
      .col-md-3
    include ../components/footer  
  include ../components/scripts    